GIGACHAT_CREDENTIALS=вставьте_сюда_ключ_авторизации
# GIGACHAT_SCOPE=GIGACHAT_API_PERS
# GIGACHAT_MODEL=GigaChat
# GIGACHAT_CA_BUNDLE_FILE=/путь/к/russian_trusted_root_ca_pem.crt
# GIGACHAT_VERIFY_SSL_CERTS=1
# DEMO_DEBUG=1

